QPushButton 
{
padding-left: 10px;
padding-right: 10px;
padding-top: 5px; padding-bottom: 5px; border: 1px solid #CCCCCC;
}

QPushButton:hover
{
background-color: #FFF;
}

QPushButton:pressed
{
background-color: #CCC;
}